.bill--single {
    padding: $md 0;

    .bill__header {
        display: flex;
        margin-bottom: $md;

        h1 {
            line-height: 1;
        }

        &-name {
            display: block;
            margin-bottom: $xs;
            font-size: $fs3;
        }
        &-title {
            display: block;
            font-size: $fs2;
        }
    }
    .bill__controls {
        margin-left: auto;
    }

    .bill__info {
        display: flex;
        flex-wrap: wrap;

        .info {
            max-width: 33%;
            margin-right: $xl;
            margin-bottom: $sm;
        }
        .info:last-child {
            margin-right: 0;
        }
    }
}

.info {
    line-height: 1;

    &__label {
        margin-bottom: $xxs;
        font-size: $fs6;
        color: lighten($text-color, 40%);
    }
    &__body {
        font-size: $fs5;
        line-height: 1.2;
    }
    &__body--long {
        line-height: 1.6;
    }
}
