.pager {
    margin: 1em;
    padding: 0;
    list-style: none;
    text-align: center;
}

.pager__item {
    display: inline-block;
    margin: 0 5px;
    font-size: $fs5;

    a {
        color: $text-color;
        display: inline-block;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;

        &.is-active,
        &:hover,
        &:active {
            font-weight: bold;
            border-bottom-color: $text-color;
        }
    }
}


.pager--mobile {
    margin: 0;
    display: none;
    @include mq(bp(sm)) {
        display: flex;
    }

    .pager__link {
        display: block;
        align-self: flex-end;
        margin-left: 10px;
        font-size: $fs4;
        color: $text-color;
    }
    .pager__select-label {
        text-align: left;
        margin-right: auto;
    }
    .pager__select {
        font-size: $fs4;
    }
}