html {
    font-family: 'Roboto', sans-serif;
    background: $body-bg;
}
html * {
    box-sizing: border-box;
}
body {
    color: $text-color;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.125rem;
    font-weight: normal;
    margin: 0;
}
hr {
    margin: $lg 0;
    border: none;
    border-top: 1px solid #eee;
    color: white;
}
ul, ol {
    margin: 0;
    padding: 0;
}
form {
    margin: 0;
}
input, textarea, select, fieldset {
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}
button {
    background: transparent;
}
