.button--plain {
    display: inline-block;
    height: auto;
    line-height: normal;
    letter-spacing: normal;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    text-transform: none;
    color: $link-color;
}

.button--fb {
    background: #3B5998;
    border-color: darken(#3B5998, 20%);
    color: #fff;
}
.button--fb:hover,
.button--fb:focus {
    background: lighten(#3B5998, 10%);
    color: #fff;
}
.button--google {
    background: #dd4b39;
    border-color: darken(#dd4b39, 20%);
    color: #fff;
}
.button--google:hover,
.button--google:focus {
    background: lighten(#dd4b39, 10%);
    color: #fff;
}



.section-title {
    margin-bottom: .5em;
    font-size: 2em;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
}

fieldset {
    margin-top: 1em;

    legend {
        margin-bottom: 0;
    }

    label {
        font-size: .9em;
    }
}

.account {
    margin-top: 2em;

    label {
        margin-top: 1em;
    }

    .account__submit {
        margin-top: 1em
    }
}



.alert {
    border: 1px solid $brand-danger;
    border-radius: 3px;

    ul {
        margin: 10px;
        padding: 0 0 0 20px;
        list-style-position: outside;

        li {
            margin-bottom: 10px;
        }
    }
}