:focus {
    outline: solid 4px $brand-green;
}

ol {
    padding-left: 20px;
    list-style-position: outside;
}

img {
    max-width: 100%;
}




.fs1 {
    font-size: $fs1;
}
.fs2 {
    font-size: $fs2;
}
.fs3 {
    font-size: $fs3;
}
.fs4 {
    font-size: $fs4;
}
.fs5 {
    font-size: $fs5;
}
.fs6 {
    font-size: $fs6;
}