.u-underline {
    text-decoration: underline;
}
.u-no-underline {
    text-decoration: none;
}

.u-flex {
    display: flex;
}
.u-flex-1 {
    flex: 1;
}
.u-right {
    margin-left: auto;
}

.m-sm-top {
    margin-top: 10px;
}

.visually-hidden, .u-sr-only { /* https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}