/*
 breakpoints
*/
$breakpoints: (
    sm: 550px,
    md: 740px,
    lg: 1080px,
    xl: 1260px,
    xxl: 1400px
);

@function bp($key) {
    @return map-get($breakpoints, $key);
}

@mixin mq($size) {
    @media screen and (max-width: $size) {
        @content
    }
}

// Body
$body-bg: #f5f8fa;

// Layout
$content-width: 1200px;
$content-width--narrow: 700px;

// Brand colors
$brand-blue: #206dea;;
$brand-green: #2bd3aa;
$brand-red: #dd374b;
$brand-primary: $brand-blue;

$primary-color: $brand-primary;
$link-color: $primary-color;
$text-primary: #222;
$text-secondary: #777;

// Borders
$border-color: #ddd;


// Message levels
$brand-info: #3498db;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family: "Raleway", sans-serif;
$font-size-base: 16px;
$font-size-base--mobile: 14px;
$line-height-base: 1.6;
$text-color: #1a1d1e;

// Typescale
$fs1: 2.074rem;
$fs2: 1.728rem;
$fs3: 1.44rem;
$fs4: 1.2rem;
$fs5: 1rem;
$fs6: 0.833rem;

// Radii
$radius: 4px;

// Spacing
$spacing-unit: .5rem;        // 8px
$xxs: $spacing-unit/2;       // 4px
$xs: $spacing-unit;          // 8px
$sm: $spacing-unit * 2;      // 16px Base
$md: $spacing-unit * 3;      // 24px
$lg: $spacing-unit * 4;      // 32px
$xl: $spacing-unit * 5;      // 40px
$xxl: $spacing-unit * 8;     // 64px

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
