
@import "variables";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import "normalize";
@import "skeleton";

html {
    font-family: 'Roboto', sans-serif;
    background: $body-bg;
}
form {
    margin: 0;
}
input, textarea, select, fieldset {
    margin-bottom: 0;
}



/* site components */
@import "shared/bill-lists";
@import "shared/header";
@import "home";

@import 'shame';