
@import "variables";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import "normalize";
@import "skeleton";

html {
    font-family: 'Roboto', sans-serif;
    background: $body-bg;
}
form {
    margin: 0;
}
input, textarea, select, fieldset {
    margin-bottom: 0;
}



/* site components */
@import "home";
@import "layout";
@import "utilities";
@import "forms";
@import "components/alert";
@import "components/bill-list";
@import "components/button";
@import "components/header";
@import "components/guest-header";
@import "components/pager";
@import 'components/tooltip';

@import 'shame';