.bill {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $border-color;

    .bill__header {
        margin-bottom: 10px;
        display: flex;

        .bill__name,
        .bill__title{
            margin: 0 20px;
            font-size: 1.75rem;
            line-height: 1.4em;
        }
        .bill__name {
            margin: 0;
            font-weight: bold;
        }
    }

    .bill__notification-controls {
        .bill__notification-options {
            label {
                margin-right: 25px;
                font-weight: normal;

                input[type=checkbox] {
                    margin-left: 5px;
                }
            }
        }
    }
}

.bill--tracked {
    .bill__header {
        color: #27ae60;
    }
}