$headerBg: #2c3e50;

.header {
    margin-bottom: 1em;
    background: $headerBg;
    border-bottom: 1px solid darken($headerBg, 50%);
    color: #ecf0f1;

    .header__inner {
        padding: 5px 0;
        display: flex;

        a {
            padding-bottom: 5px;
            text-decoration: none;
            color: #ecf0f1;
        }
        a.is-active,
        a:hover,
        a:focus {
            padding-bottom: 5px;
            border-bottom: 2px solid #fff;
        }

        .header__primary {

        }

        .main-nav {
            .logo {
                display: inline-block;
                font-size: 3rem;
            }

            > ul {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;

                > li {
                    display: inline-block;
                    margin: 0;
                    margin-left: 1.5em;

                    > a {
                        display: inline-block;
                        padding-bottom: 5px;
                        margin-bottom: 5px;
                        border-bottom: 2px solid transparent;
                    }


                }
                > .is-active > a,
                > li > a:hover,
                > li > a:focus {
                    border-bottom-color: #fff;
                }
            }
        }

        .header__secondary {
            margin-left: auto;
            margin-top: 1em;

            .user {
                display: inline-block;
                margin-right: 10px;
                padding-right: 10px;
                border-right: 1px solid darken($headerBg, 50%);
            }
        }
    }
}